* {
    @include normal-font;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: $base-font-size;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    display: inline-block;
    
    &:hover {
        color: $dark-primary-color;
    }
}
