/*Media Queries for Tablets*/
.center-container {
    padding: 0 20px;
    
    @include bp-tablet {
        @include center-container($container-width-tablet);
        padding: 0;
    }
    @include bp-desktop {
        @include center-container($container-width-desktop); 
    }
}
main {
    margin-top: 70px;
}
