{
  "users": [
    {
      "username": "admin",
      "email": "admin@gmail.com",
      "password": "123456",
      "id": 1
    },
    {
      "username": "adminUser",
      "email": "adminUser@gmail.com",
      "password": "123456",
      "id": 2
    },
    {
      "username": "testuser",
      "email": "testuser@gmail.com",
      "password": "123456",
      "id": 3
    }
  ]
}
