$base-font-size: 62.5%;
$fonts: '/app/assets/fonts';
$icons: '/app/assets/icons';

//Colors
$dark-primary-color: #1976d2;
$light-primary-color: #448aff;
$primary-color: #2196f3;
$icon-color: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$error-color: #ff0000;
$dark-error-color: #8B0000;
$background-color: #add8e6;
$dark-background-color: #0099cc;
$success-color: #00ff00;

//Container Width
$container-width-tablet: 708px;
$container-width-desktop: 960px;
$tablet-screen-width: 768px;
$desktop-screen-width: 1025px;
