<nav class="nav center-container">
    <div class="nav__icons">
        <div class="nav__icons--back" ng-click="handleBack()">
            <i class="icon icon-keyboard_backspace"></i>
        </div>
        <div class="nav__icons--toggle" ng-click="handleToggle()">
            <i class="icon" ng-class="toggleActive ? 'icon-close' : 'icon-menu'"></i>
        </div>
    </div>
    <ul class="nav__list" ng-class="toggleActive ? 'nav__list--active' : ''">
        <li class="nav__list--item" ng-repeat="navItem in navItems">
            <a ng-href="#!{{navItem.path}}" class="nav__list--link" ng-class="isActiveLink(navItem.path) ? 'link-active' : ''">{{navItem.name}}</a>
        </li>
    </ul>
</nav>
